header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-weight: bold;

    img {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 200px;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    color: #2c3e50;
    display: flex;
    gap: 0.5rem;

    &:hover {
        text-decoration: underline;
    }
}